### Домашнее задание к вебинару 6

#### Импорт библиотек

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit import als

# Модель второго уровня
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

#import os, sys
#module_path = os.path.abspath(os.path.join(os.pardir))
#if module_path not in sys.path:
#    sys.path.append(module_path)

# Написанные нами функции
from src.metrics import precision_at_k, recall_at_k
#from src.utils1 import prefilter_items
from src.utils import prefilter_items
from src.recommenders1 import MainRecommender

### Загрузка данных

In [12]:
data = pd.read_csv('../retail_train.csv')
item_features = pd.read_csv('../product.csv')
user_features = pd.read_csv('../hh_demographic.csv')

### Process features dataset

In [13]:
# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

### Разделим датасет на 3 части - тренировочный, тестовый и валидационный

In [14]:
# Важна схема обучения и валидации!
# -- давние покупки -- | -- 6 недель -- | -- 3 недель -- 
# подобрать размер 2-ого датасета (6 недель) --> learning curve (зависимость метрики recall@k от размера датасета)

# модель 1 уровня - обучается на давних покупках, валидируется на промежуточных 6 неделях
# модель 2 уровня - обучается на промежуточных 6 неделях, валидируется на последних 3 неделях


VAL_LVL1_WEEKS = 6
VAL_LVL2_WEEKS = 3

In [15]:
# берем данные для тренировки модели 1 уровня
data_train_lvl1 = data[data['week_no'] < data['week_no'].max() - (VAL_LVL1_WEEKS + VAL_LVL2_WEEKS)]

# берем данные для валидации matching модели
data_val_lvl1 = data[(data['week_no'] >= data['week_no'].max() - (VAL_LVL1_WEEKS + VAL_LVL2_WEEKS)) &
                      (data['week_no'] < data['week_no'].max() - (VAL_LVL2_WEEKS))]


# берем данные для тренировки модели 2 уровня
data_train_lvl2 = data_val_lvl1.copy()  # Для наглядности. Далее мы добавим изменения, и они будут отличаться

# берем данные для теста ranking, matching модели
data_val_lvl2 = data[data['week_no'] >= data['week_no'].max() - VAL_LVL2_WEEKS]

In [16]:
def print_stats_data(df_data, name_df):
    print(name_df)
    print(f"Shape: {df_data.shape} Users: {df_data['user_id'].nunique()} Items: {df_data['item_id'].nunique()}")

In [17]:
print_stats_data(data_train_lvl1,'train_matcher - data lvl1')
print_stats_data(data_val_lvl1,'val_matcher - data lvl1')
print_stats_data(data_train_lvl2,'train_ranker - data lvl2')
print_stats_data(data_val_lvl2,'val_ranker - data lvl2')

train_matcher - data lvl1
Shape: (2108779, 12) Users: 2498 Items: 83685
val_matcher - data lvl1
Shape: (169711, 12) Users: 2154 Items: 27649
train_ranker - data lvl2
Shape: (169711, 12) Users: 2154 Items: 27649
val_ranker - data lvl2
Shape: (118314, 12) Users: 2042 Items: 24329

In [18]:
# выше видим разброс по пользователям и товарам

In [19]:
data_train_lvl1.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

### Префильтрация items

In [20]:
n_items_before = data_train_lvl1['item_id'].nunique()

data_train_lvl1 = prefilter_items(data_train_lvl1, item_features=item_features, take_n_popular=5000)

n_items_after = data_train_lvl1['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 83685 to 5001

### Избавляемся от "холодного старта", осталвяем только "теплый старт"

In [21]:
data_train_lvl1.user_id.values

array([1285, 1285, 1285, ...,  856,  856,  856])

In [22]:
# ищем общих пользователей
common_users = list(set(data_train_lvl1.user_id.values)&(set(data_val_lvl1.user_id.values))\
                    &set(data_val_lvl2.user_id.values))

data_train_lvl1 = data_train_lvl1[data_train_lvl1.user_id.isin(common_users)]
data_val_lvl1 = data_val_lvl1[data_val_lvl1.user_id.isin(common_users)]
data_train_lvl2 = data_train_lvl2[data_train_lvl2.user_id.isin(common_users)]
data_val_lvl2 = data_val_lvl2[data_val_lvl2.user_id.isin(common_users)]

print_stats_data(data_train_lvl1,'train_matcher - data lvl1')
print_stats_data(data_val_lvl1,'val_matcher - data lvl1')
print_stats_data(data_train_lvl2,'train_ranker - data lvl2')
print_stats_data(data_val_lvl2,'val_ranker - data lvl2')

train_matcher - data lvl1
Shape: (550491, 13) Users: 1909 Items: 5000
val_matcher - data lvl1
Shape: (163158, 12) Users: 1909 Items: 27115
train_ranker - data lvl2
Shape: (163158, 12) Users: 1909 Items: 27115
val_ranker - data lvl2
Shape: (115790, 12) Users: 1909 Items: 24032

In [23]:
# Теперь warm-start по пользователям

### Инициализируем класс Main Recommender

В нем предусмотрено сразу обучение на обучающей выборке модели 1 уровня (ALS модель)

In [24]:
recommender = MainRecommender(data_train_lvl1)

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

  0%|          | 0/15 [00:00<?, ?it/s]

  0%|          | 0/5000 [00:00<?, ?it/s]

### Задание 1 - Измеряем recall@k

A) Попробуйте различные варианты генерации кандидатов. Какие из них дают наибольший recall@k ?
- Пока пробуем отобрать 50 кандидатов (k=50)
- Качество измеряем на data_val_lvl_1: следующие 6 недель после трейна

Дают ли own recommendtions + top-popular лучший recall?  

B)* Как зависит recall@k от k? Постройте для одной схемы генерации кандидатов эту зависимость для k = {20, 50, 100, 200, 500}  
C)* Исходя из прошлого вопроса, как вы думаете, какое значение k является наиболее разумным?

In [25]:
# Опишем функции, в которые будут оборачиваться будущие вычисления

ACTUAL_COL = 'actual'

# Функция для получение рекомендаций
def make_recommendations(df_result, recommend_model, N=50, user_col='user_id'):
    return df_result[user_col].apply(lambda x: recommend_model(x, N=N))

# Функция для расчета recall@k
def calc_recall_at_k(df_data, top_k):
    for col_name in df_data.columns[2:]:
        yield col_name, round((df_data.apply(lambda row: recall_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()), 4)

# Фнукция для расчета precision@k
def calc_precision_at_k(df_data, top_k):
    for col_name in df_data.columns[2:]:
        yield col_name, df_data.apply(lambda row: precision_at_k(row[col_name], row[ACTUAL_COL], k=top_k), axis=1).mean()

In [26]:
# Создаем результиующий датафрейм для расчета результата метрики на тестовых данных
# Для 1 уровня тестовый набор данных - промежуточные 6 недель - data_val_lvl1

result_eval_lvl1 = data_val_lvl1.groupby('user_id')['item_id'].unique().reset_index()
result_eval_lvl1.columns=['user_id', 'actual']
result_eval_lvl1.head(2)

   user_id                                             actual
0        1  [853529, 865456, 867607, 872137, 874905, 87524...
1        6  [1024306, 1102949, 6548453, 835394, 940804, 96...

In [27]:
%%time

models = {'als_rec': recommender.get_als_recommendations,
          'own_rec': recommender.get_own_recommendations, 
          'similar_item_rec': recommender.get_similar_items_recommendation, 
          'similar_user_rec': recommender.get_similar_users_recommendation}

for col_name, model in models.items():
    result_eval_lvl1[col_name] = make_recommendations(result_eval_lvl1, model)

CPU times: user 2min 10s, sys: 4min 56s, total: 7min 7s
Wall time: 1min 16s

In [28]:
result_eval_lvl1.head(8)

,user_id,actual,als_rec,own_rec,similar_item_rec,similar_user_rec
0,1,"[853529, 865456, 867607, 872137, 874905, 87524...","[856942, 1037332, 5577022, 1002850, 1077133, 9...","[856942, 896666, 877391, 5577022, 1088462, 888...","[13417587, 1087955, 974177, 929341, 1088462, 9...","[6552318, 925350, 1061394, 949257, 6633167, 89..."
1,6,"[1024306, 1102949, 6548453, 835394, 940804, 96...","[1026118, 930118, 857006, 1084036, 878996, 854...","[13003092, 972416, 995598, 9831557, 876626, 10...","[5569845, 819308, 5569230, 878996, 948650, 141...","[970160, 949257, 1005456, 957080, 823031, 9701..."
2,7,"[836281, 843306, 845294, 914190, 920456, 93886...","[1126899, 1098694, 9338009, 9803591, 6396558, ...","[894360, 998519, 896666, 5570590, 1136033, 942...","[893018, 9836106, 6602697, 903800, 1029743, 12...","[1057168, 8118500, 924004, 877310, 9677052, 83..."
3,8,"[868075, 886787, 945611, 1005186, 1008787, 101...","[1075368, 916122, 1034176, 12810393, 12811532,...","[12808385, 981660, 5577022, 6463874, 886103, 8...","[5569845, 978332, 909714, 1044078, 1109136, 98...","[908314, 958023, 5577022, 1108055, 1133850, 95..."
4,9,"[883616, 1029743, 1039126, 1051323, 1082772, 1...","[1029743, 960732, 899624, 893018, 1042942, 948...","[918046, 9655676, 936830, 6632283, 1098910, 80...","[5569230, 1008032, 1015785, 7138817, 1111786, ...","[962967, 9831557, 42346, 1110743, 1129610, 103..."
5,13,"[6544236, 822407, 908317, 1056775, 1066289, 11...","[8090541, 879699, 5569376, 862070, 872177, 135...","[9488065, 965772, 1038985, 862070, 6554400, 10...","[5569230, 6979191, 1103705, 9673266, 824072, 9...","[8090612, 1131382, 1108055, 6534078, 1102003, ..."
6,14,"[917277, 981760, 878234, 925514, 986394, 10220...","[1106523, 910673, 1127758, 972143, 1025611, 87...","[822161, 1026439, 894360, 8090610, 902377, 874...","[5569230, 990335, 1025611, 863762, 910673, 901...","[962967, 875089, 841365, 5570147, 911311, 9019..."
7,15,"[996016, 1014509, 1044404, 1087353, 976199, 10...","[12523928, 863632, 866211, 1001827, 1042616, 1...","[823576, 1053530, 1052975, 9526159, 901656, 10...","[901062, 5569230, 1135476, 999999, 5564906, 86...","[12523928, 953180, 823031, 1032703, 5578856, 7..."

Переходим к расчету recall@k

### Recall@50

In [29]:
top_k_recall = 50

In [30]:
sorted(calc_recall_at_k(result_eval_lvl1, top_k_recall), key=lambda x: x[1],reverse=True)

[('own_rec', 0.0638),
 ('als_rec', 0.0492),
 ('similar_item_rec', 0.0321),
 ('similar_user_rec', 0.0061)]

In [31]:
sorted(calc_recall_at_k(result_eval_lvl1, top_k_recall), key=lambda x: x[1],reverse=True)

[('own_rec', 0.0638),
 ('als_rec', 0.0492),
 ('similar_item_rec', 0.0321),
 ('similar_user_rec', 0.0061)]

**Вывод:** Наибольший recall при k=50 кандидатов в рекомендацию дает модель own_recommendations

**Изучим, как будет меняться метрика в зависимости от количества кандидатов**

In [32]:
top_k_list = [20, 50, 100, 200, 500]

In [33]:
for k in top_k_list:
    result_eval_lvl1 = data_val_lvl1.groupby('user_id')['item_id'].unique().reset_index()
    result_eval_lvl1.columns=['user_id', ACTUAL_COL]
    
    for column_name, model in models.items():
        result_eval_lvl1[column_name] = make_recommendations(result_eval_lvl1, model, N=k)
        
    print(f'{k} кандидатов: \n{sorted(calc_recall_at_k(result_eval_lvl1, k), key=lambda x: x[1],reverse=True)}')

20 кандидатов:
[('own_rec', 0.037), ('als_rec', 0.0309), ('similar_item_rec', 0.0168), ('similar_user_rec', 0.0038)]
50 кандидатов:
[('own_rec', 0.0638), ('als_rec', 0.0492), ('similar_item_rec', 0.0321), ('similar_user_rec', 0.0061)]
100 кандидатов:
[('own_rec', 0.0948), ('als_rec', 0.0688), ('similar_item_rec', 0.0523), ('similar_user_rec', 0.0101)]
200 кандидатов:
[('own_rec', 0.1337), ('als_rec', 0.0966), ('similar_item_rec', 0.0846), ('similar_user_rec', 0.0139)]
500 кандидатов:
[('own_rec', 0.1784), ('als_rec', 0.1457), ('similar_item_rec', 0.1343), ('similar_user_rec', 0.0209)]

**Вывод:** очевидно, что с увеличением количества кандидатов метрика пропорционально растет. Градация по убываю метрики среди моделей сохраняется (лучший результат показывает модель own_recommenders (однако не будем забывать, что она не совсем "правильная" на практике, т.к. часто рекомендует товары, которые пользователь и так купит), самый слабый результат - модель similar_user_rec).  
  
  
Однако, чем больше кандидатов, тем сложнее модель и тем дольше она обучается, а также это отражается на модели следующего уровня. Остановимся пока на количестве кандидатов - 100

### Ranking part

### Обучаем модель 2-ого уровня на выбранных кандидатах

**Задание 2.**

Обучите модель 2-ого уровня, при этом:

- Добавьте минимум по 2 фичи для юзера, товара и пары юзер-товар

- Измерьте отдельно precision@5 модели 1-ого уровня и двухуровневой модели на data_val_ranker

- Вырос ли precision@5 при использовании двухуровневой модели?

In [63]:
# Наши периоды:
# -- давние покупки -- | -- 6 недель -- | -- 3 недель --

### Подготовка данных для трейна

In [64]:
#Оставляем количество кандидатов = 100 и own_recommendations
N_PREDICT = 100

#  Пробовала также 200  -разницы в метрике не было

In [65]:
# взяли пользователей из трейна для ранжирования

USER_COL = 'user_id'
ITEM_COL = 'item_id'

#начинам собирать таблицу с юзерами и их кандидатами в рекомендацию (рекомендуемыми товарами)
df_lvl2_candidates = pd.DataFrame(data_train_lvl2[USER_COL].unique())
df_lvl2_candidates.columns = [USER_COL]

In [66]:
# собираем кандитатов с первого этапа (matcher)
df_lvl2_candidates['candidates'] = df_lvl2_candidates[USER_COL].apply(lambda x: recommender.get_own_recommendations(x, N=N_PREDICT))

In [67]:
df_items = df_lvl2_candidates.apply(lambda x: pd.Series(x['candidates']), axis=1).stack().reset_index(level=1, drop=True)
df_items.name = 'item_id'

In [68]:
df_lvl2_candidates.head(2)

   user_id                                         candidates
0     2070  [1105426, 1097350, 879194, 948640, 928263, 944...
1     2021  [950935, 1119454, 835578, 863762, 1097398, 101...

In [69]:
df_lvl2_candidates = df_lvl2_candidates.drop('candidates', axis=1).join(df_items)

In [70]:
df_lvl2_candidates.tail(5)

      user_id  item_id
1914     1745   844179
1914     1745  1126899
1914     1745  1044078
1914     1745  1127831
1914     1745   866211

Датасет df_lvl2_candidates содержит user_id и топ-200 рекомендаций для каждого userа - результат модели ALS

#### Создаем трейн датасет для ранжирования с учетом результаа (кандидатов) с этапа 1

In [71]:
# В изначальном датасете даны только фактические покупки юзеров, значит их можно заменить на target = 1
# в df_train_lvl2 будет содержаться тренировочный набор данных для обучения модели 2 уровня

df_train_lvl2 = data_train_lvl2[[USER_COL, ITEM_COL]].copy()
df_train_lvl2['target'] = 1  # тут только покупки

In [72]:
df_train_lvl2.head(3)

         user_id  item_id  target
2104867     2070  1019940       1
2107468     2021   840361       1
2107469     2021   856060       1

In [73]:
#Присоединим к df_lvl2_candidates пары user-item из тренировочного датасета (из исходных данных)

df_train_lvl2 = df_lvl2_candidates.merge(df_train_lvl2, on=[USER_COL, ITEM_COL], how='left')

# чистим дубликаты
df_train_lvl2 = df_train_lvl2.drop_duplicates(subset=[USER_COL, ITEM_COL])

# Заполняем пропущенные значения таргета 0 - значит пользователь не совершал такие покупки раньше
df_train_lvl2['target'].fillna(0, inplace= True)

In [74]:
df_train_lvl2.target.value_counts()

0.0    177822
1.0     11150
Name: target, dtype: int64

0 класса существенно больше, чем 1, вероятно, это связано с большим количеством выбранных рекомендаций после 1 уровня

In [75]:
df_train_lvl2.tail(5)

        user_id  item_id  target
196359     1745  1070820     0.0
196360     1745   844179     0.0
196362     1745  1044078     0.0
196363     1745  1127831     0.0
196364     1745   866211     0.0

In [76]:
df_train_lvl2['target'].mean()

0.05900345024659738

#### Подготавливаем фичи для обучения модели

In [77]:
item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [78]:
user_features.head(2)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,user_id
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7

In [79]:
df_train_lvl2 = df_train_lvl2.merge(item_features, on='item_id', how='left')
df_train_lvl2 = df_train_lvl2.merge(user_features, on='user_id', how='left')

df_train_lvl2.head(4)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc
0,2070,1105426,0.0,69,DELI,Private,SANDWICHES,SANDWICHES - (COLD),,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown
1,2070,1097350,0.0,2468,GROCERY,National,DOMESTIC WINE,VALUE GLASS WINE,4 LTR,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown
2,2070,879194,0.0,69,DRUG GM,Private,DIAPERS & DISPOSABLES,BABY DIAPERS,14 CT,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown
3,2070,948640,0.0,1213,DRUG GM,National,ORAL HYGIENE PRODUCTS,WHITENING SYSTEMS,3 OZ,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown

**Фичи user_id:**
    - Средний чек
    - Средняя сумма покупки 1 товара в каждой категории
    - Кол-во покупок в каждой категории
    - Частотность покупок раз/месяц
    - Долю покупок в выходные
    - Долю покупок утром/днем/вечером

**Фичи item_id**:
    - Кол-во покупок в неделю
    - Среднее ол-во покупок 1 товара в категории в неделю
    - (Кол-во покупок в неделю) / (Среднее ол-во покупок 1 товара в категории в неделю)
    - Цена (Можно посчитать из retil_train.csv)
    - Цена / Средняя цена товара в категории
    
**Фичи пары user_id - item_id**
    - (Средняя сумма покупки 1 товара в каждой категории (берем категорию item_id)) - (Цена item_id)
    - (Кол-во покупок юзером конкретной категории в неделю) - (Среднее кол-во покупок всеми юзерами конкретной категории в неделю)
    - (Кол-во покупок юзером конкретной категории в неделю) / (Среднее кол-во покупок всеми юзерами конкретной категории в неделю)

### Создадим новые фичи

#### 1) Средний чек пользователя

In [80]:
# Средний чек - соотношение суммы покупок к количеству

users_sales = data_train_lvl2.groupby(USER_COL)[['sales_value', 'quantity']].sum().reset_index()

users_sales['avg_transaction'] = users_sales['sales_value'] / users_sales['quantity']

df_train_lvl2 = df_train_lvl2.merge(users_sales[['user_id', 'avg_transaction']], on='user_id', how='left')
df_train_lvl2.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_transaction
0,2070,1105426,0.0,69,DELI,Private,SANDWICHES,SANDWICHES - (COLD),,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown,0.035173
1,2070,1097350,0.0,2468,GROCERY,National,DOMESTIC WINE,VALUE GLASS WINE,4 LTR,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown,0.035173

#### Добавим  категории к исходному обучающему датасету для создания новых фичей

In [81]:
data_department = data_train_lvl2.merge(item_features[['item_id', 'department']], on='item_id', how='inner')
data_department.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc,department
0,2070,40618492260,594,1019940,1,1.0,311,-0.29,40,86,0.0,0.0,GROCERY
1,2070,40630625006,594,1019940,1,1.0,311,-0.29,201,86,0.0,0.0,GROCERY

#### 2) Количество покупок в каждой категории
#### 3) средняя сумма покупки user-a в каждой категории

In [82]:
# Количество покупок в каждой категории

users_sales_by_department = data_department.groupby([USER_COL, 'department'])\
                        [['sales_value', 'quantity']].sum().reset_index()
users_sales_by_department.rename(columns={'quantity': 'n_sold_category'}, inplace=True)

# Средняя сумма покупки в каждой категории
users_sales_by_department['avg_users_transaction_by_category'] = users_sales_by_department['sales_value']\
                                                    /users_sales_by_department['n_sold_category']

In [83]:
users_sales_by_department.drop(columns=['sales_value'], inplace=True)

In [84]:
df_train_lvl2 = df_train_lvl2.merge(users_sales_by_department, on=[USER_COL, 'department'], how='left')
df_train_lvl2.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_transaction,n_sold_category,avg_users_transaction_by_category
0,2070,1105426,0.0,69,DELI,Private,SANDWICHES,SANDWICHES - (COLD),,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown,0.035173,3.0,3.596667
1,2070,1097350,0.0,2468,GROCERY,National,DOMESTIC WINE,VALUE GLASS WINE,4 LTR,45-54,U,50-74K,Unknown,Unknown,1,None/Unknown,0.035173,213.0,1.461549

#### 4) Средняя сумма покупки в категории

In [85]:
# Средняя сумма покупки в категории
department_sales = data_department.groupby('department')['sales_value'].mean().reset_index()
department_sales.rename(columns={'sales_value': 'common_mean_sales_value_by_category'}, inplace=True)
department_sales.tail(2)

df_train_lvl2 = df_train_lvl2.merge(department_sales, on='department', how='left')

#### 5) Количество покупок юзером конкретной категории в неделю

In [86]:
data_department['week_no'].max() - data_department['week_no'].min() + 1

6

In [87]:
# Рассчитываем количество недель в датасете
n_weeks = data_department['week_no'].max() - data_department['week_no'].min() + 1

users_department = data_department.groupby([USER_COL, 'department'])['quantity'].sum().reset_index()
users_department['quantity'] /= n_weeks
users_department.rename(columns={'quantity': 'n_sold_category_user_week'}, inplace=True)

df_train_lvl2 = df_train_lvl2.merge(users_department, on=[USER_COL, 'department'], how='left')
df_train_lvl2.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,avg_transaction,n_sold_category,avg_users_transaction_by_category,common_mean_sales_value_by_category,n_sold_category_user_week
0,2070,1105426,0.0,69,DELI,Private,SANDWICHES,SANDWICHES - (COLD),,45-54,...,50-74K,Unknown,Unknown,1,None/Unknown,0.035173,3.0,3.596667,4.542495,0.5
1,2070,1097350,0.0,2468,GROCERY,National,DOMESTIC WINE,VALUE GLASS WINE,4 LTR,45-54,...,50-74K,Unknown,Unknown,1,None/Unknown,0.035173,213.0,1.461549,2.535227,35.5

#### 6) Фичи по item_id
*Цена  
*Количество покупок в неделю

In [88]:
# Цена рассчитывается как 
data_department.loc[data_department['sales_value'] == 0, 'sales_value'].count()

1440

In [89]:
# 1) Цена

items_sales = data_department.groupby(ITEM_COL)[['sales_value', 'quantity']].sum().reset_index()
items_sales['price'] = items_sales['sales_value'] / items_sales['quantity']
items_sales['price'].fillna(0, inplace=True)


# 2) Количество покупок в неделю
items_sales['quantity_per_week'] = items_sales['quantity'] / n_weeks

In [90]:
items_sales.head(2)

   item_id  sales_value  quantity  price  quantity_per_week
0    28116         0.33         1   0.33           0.166667
1    28117         0.34         1   0.34           0.166667

In [91]:
df_train_lvl2 = df_train_lvl2.merge(items_sales[[ITEM_COL,'price', 'quantity_per_week']],
                                        on=ITEM_COL, how='left')

In [92]:
# если нет sales_value, т е нет цены
df_train_lvl2['Missing price'] = 0
df_train_lvl2.loc[df_train_lvl2['price'].isna(), 'Missing price'] = 1
df_train_lvl2['price'].fillna(0, inplace=True)

df_train_lvl2['Missing quantity per week'] = 0
df_train_lvl2.loc[df_train_lvl2['quantity_per_week'].isna(), 'Missing quantity per week'] = 1
df_train_lvl2['quantity_per_week'].fillna(0, inplace=True)

df_train_lvl2.head(2)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,kid_category_desc,avg_transaction,n_sold_category,avg_users_transaction_by_category,common_mean_sales_value_by_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week
0,2070,1105426,0.0,69,DELI,Private,SANDWICHES,SANDWICHES - (COLD),,45-54,...,None/Unknown,0.035173,3.0,3.596667,4.542495,0.5,3.99,0.833333,0,0
1,2070,1097350,0.0,2468,GROCERY,National,DOMESTIC WINE,VALUE GLASS WINE,4 LTR,45-54,...,None/Unknown,0.035173,213.0,1.461549,2.535227,35.5,10.99,0.166667,0,0

### Разбираем на X_train и y_train и обучаем модель 2 уровня

In [93]:
X_train = df_train_lvl2.drop('target', axis=1)
y_train = df_train_lvl2[['target']]

In [94]:
X_train.head(2)

,user_id,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,marital_status_code,...,kid_category_desc,avg_transaction,n_sold_category,avg_users_transaction_by_category,common_mean_sales_value_by_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week
0,2070,1105426,69,DELI,Private,SANDWICHES,SANDWICHES - (COLD),,45-54,U,...,None/Unknown,0.035173,3.0,3.596667,4.542495,0.5,3.99,0.833333,0,0
1,2070,1097350,2468,GROCERY,National,DOMESTIC WINE,VALUE GLASS WINE,4 LTR,45-54,U,...,None/Unknown,0.035173,213.0,1.461549,2.535227,35.5,10.99,0.166667,0,0

In [95]:
X_train.dtypes

user_id                                  int64
item_id                                  int64
manufacturer                             int64
department                              object
brand                                   object
commodity_desc                          object
sub_commodity_desc                      object
curr_size_of_product                    object
age_desc                                object
marital_status_code                     object
income_desc                             object
homeowner_desc                          object
hh_comp_desc                            object
household_size_desc                     object
kid_category_desc                       object
avg_transaction                        float64
n_sold_category                        float64
avg_users_transaction_by_category      float64
common_mean_sales_value_by_category    float64
n_sold_category_user_week              float64
price                                  float64
quantity_per_week                      float64
Missing price                            int64
Missing quantity per week                int64
dtype: object

In [96]:
cat_feats = X_train.columns[2:15].tolist()

for col in cat_feats:
    X_train[col].fillna(0, inplace = True)
X_train[cat_feats] = X_train[cat_feats].astype('category')

cat_feats

['manufacturer',
 'department',
 'brand',
 'commodity_desc',
 'sub_commodity_desc',
 'curr_size_of_product',
 'age_desc',
 'marital_status_code',
 'income_desc',
 'homeowner_desc',
 'hh_comp_desc',
 'household_size_desc',
 'kid_category_desc']

In [97]:
X_train.dtypes

user_id                                   int64
item_id                                   int64
manufacturer                           category
department                             category
brand                                  category
commodity_desc                         category
sub_commodity_desc                     category
curr_size_of_product                   category
age_desc                               category
marital_status_code                    category
income_desc                            category
homeowner_desc                         category
hh_comp_desc                           category
household_size_desc                    category
kid_category_desc                      category
avg_transaction                         float64
n_sold_category                         float64
avg_users_transaction_by_category       float64
common_mean_sales_value_by_category     float64
n_sold_category_user_week               float64
price                                   float64
quantity_per_week                       float64
Missing price                             int64
Missing quantity per week                 int64
dtype: object

### Обучение модели ранжирования

In [98]:
lgb = LGBMClassifier(objective='binary',
                     max_depth=13,
                     n_estimators=900,
                     learning_rate=0.1,
                     categorical_column=cat_feats)

lgb.fit(X_train, y_train)

train_preds = lgb.predict_proba(X_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

In [99]:
df_lvl2_predict = df_train_lvl2.copy()
df_lvl2_predict['proba_item_purchase'] = train_preds[:,1]

In [100]:
df_lvl2_predict.loc[df_lvl2_predict['user_id']==2070].sort_values('proba_item_purchase', ascending=False)

,user_id,item_id,target,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product,age_desc,...,avg_transaction,n_sold_category,avg_users_transaction_by_category,common_mean_sales_value_by_category,n_sold_category_user_week,price,quantity_per_week,Missing price,Missing quantity per week,proba_item_purchase
8,2070,1092937,1.0,1089,MEAT-PCKGD,National,LUNCHMEAT,BOLOGNA,16OZ,45-54,...,0.035173,11.0,3.426364,3.830433,1.833333,2.552857,5.833333,0,0,7.405992e-01
32,2070,1099905,1.0,830,GROCERY,National,HISPANIC,MEXICAN SAUCESSALSAPICANTEE,16 OZ,45-54,...,0.035173,213.0,1.461549,2.535227,35.500000,2.219412,2.833333,0,0,5.973791e-01
54,2070,1072917,1.0,5798,GROCERY,National,FROZEN BREAD/DOUGH,FRZN DINNER ROLLS,11 OZ,45-54,...,0.035173,213.0,1.461549,2.535227,35.500000,2.642917,4.000000,0,0,5.621694e-01
69,2070,1085357,1.0,69,MEAT-PCKGD,Private,FROZEN MEAT,FRZN BURGERS/BBQ/MEATBALL,38 OZ,45-54,...,0.035173,11.0,3.426364,3.830433,1.833333,6.748333,2.000000,0,0,5.027693e-01
68,2070,1067779,0.0,69,MEAT-PCKGD,Private,LUNCHMEAT,HAM,1 LB,45-54,...,0.035173,11.0,3.426364,3.830433,1.833333,3.060000,3.833333,0,0,2.722273e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2070,5564067,0.0,2,DRUG GM,National,TICKETS,TICKETS,,45-54,...,0.035173,31.0,2.443871,3.984805,5.166667,0.000000,0.000000,1,1,1.640242e-05
61,2070,1052752,0.0,1156,DRUG GM,National,SHAVING CARE PRODUCTS,RAZORS AND BLADES,4 CT,45-54,...,0.035173,31.0,2.443871,3.984805,5.166667,0.000000,0.000000,1,1,1.433042e-05
3,2070,948640,0.0,1213,DRUG GM,National,ORAL HYGIENE PRODUCTS,WHITENING SYSTEMS,3 OZ,45-54,...,0.035173,31.0,2.443871,3.984805,5.166667,0.000000,0.000000,1,1,1.253619e-05
60,2070,846502,0.0,693,DRUG GM,National,CANDY - PACKAGED,CANDY BAGS-CHOCOCLATE,12 OZ,45-54,...,0.035173,31.0,2.443871,3.984805,5.166667,0.000000,0.000000,1,1,8.644392e-06
14,2070,1026258,0.0,69,NUTRITION,Private,REFRIGERATED,FLUID MILK,64 OZ,45-54,...,0.035173,NaN,NaN,3.285920,NaN,3.490000,2.000000,0,0,1.819118e-07

### Evaluation on test dataset - Оценка модели на тестовом датасете

In [101]:
result_eval_lvl2 = data_val_lvl2.groupby(USER_COL)[ITEM_COL].unique().reset_index()
result_eval_lvl2.columns=[USER_COL, ACTUAL_COL]
result_eval_lvl2.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        6  [920308, 926804, 946489, 1006718, 1017061, 107...

### Eval matching on test dataset - Сопоставление предсказаний с тестовым набором данных

In [102]:
%%time
result_eval_lvl2['own_rec'] = result_eval_lvl2[USER_COL].apply(lambda x: recommender.get_own_recommendations(x, N=N_PREDICT))

Wall time: 15.7 s

Вспомним df_lvl2_candidates сет, который был получен own_recommendations на юзерах, набор пользователей мы фиксировали и он одинаков, значи и прогноз одинаков, поэтому мы можем использовать этот датафрейм для переранжирования.

In [103]:
# Функция для переранжирования

def rerank(user_id, df, USER_COL='user_id', proba_col_name='proba_item_purchase', N=5):
    return df[df[USER_COL]==user_id].sort_values(proba_col_name, ascending=False).head(N).item_id.tolist()

In [104]:
result_eval_lvl2['reranked_own_rec_lightgbm'] = result_eval_lvl2[USER_COL].apply(lambda user_id: rerank(user_id, df_lvl2_predict))

In [105]:
TOPK_PRECISION = 5
# рассчитаем precision только модели матчинга (1 уровня -  ALS, get_own_recommendations), 
# чтобы понимать влияение ранжирования (2 уровня) на метрики

print(*sorted(calc_precision_at_k(result_eval_lvl2, TOPK_PRECISION), key=lambda x: x[1], reverse=True), sep='\n')

('reranked_own_rec_lightgbm', 0.19258485639686482)
('own_rec', 0.1462140992167092)

In [106]:
#аналошично с recall
print(*sorted(calc_recall_at_k(result_eval_lvl2, TOPK_PRECISION), key=lambda x: x[1], reverse=True), sep='\n')

('reranked_own_rec_lightgbm', 0.0244)
('own_rec', 0.0174)

#### Обучим модель CatBoost, сравним результаты с  LightGBM

In [108]:
ctb = CatBoostClassifier(
                     max_depth=13,
                     n_estimators=500,
                     learning_rate=0.1,
                     cat_features=cat_feats)

ctb.fit(X_train, y_train)

train_preds = ctb.predict_proba(X_train)

Custom logger is already specified. Specify more than one logger at same time is not thread safe.

0:	learn: 0.5766216	total: 436ms	remaining: 3m 37s
1:	learn: 0.4875662	total: 923ms	remaining: 3m 49s
2:	learn: 0.4245546	total: 1.31s	remaining: 3m 37s
3:	learn: 0.3653145	total: 2.56s	remaining: 5m 17s
4:	learn: 0.3240832	total: 3.29s	remaining: 5m 25s
5:	learn: 0.2977544	total: 4s	remaining: 5m 29s
6:	learn: 0.2765998	total: 4.69s	remaining: 5m 30s
7:	learn: 0.2536556	total: 10.7s	remaining: 10m 58s
8:	learn: 0.2435505	total: 11.3s	remaining: 10m 19s
9:	learn: 0.2354375	total: 12.5s	remaining: 10m 12s
10:	learn: 0.2225766	total: 15.9s	remaining: 11m 47s
11:	learn: 0.2135484	total: 20.2s	remaining: 13m 39s
12:	learn: 0.2068999	total: 24.1s	remaining: 15m 1s
13:	learn: 0.2014736	total: 28.3s	remaining: 16m 24s
14:	learn: 0.1980192	total: 33.1s	remaining: 17m 51s
15:	learn: 0.1961502	total: 33.8s	remaining: 17m 3s
16:	learn: 0.1932639	total: 38.2s	remaining: 18m 4s
17:	learn: 0.1909256	total: 42.6s	remaining: 19m 1s
18:	learn: 0.1886758	total: 46.3s	remaining: 19m 31s
19:	learn: 0.1870705	total: 50.8s	remaining: 20m 19s
20:	learn: 0.1853918	total: 55.1s	remaining: 20m 56s
21:	learn: 0.1841394	total: 59.4s	remaining: 21m 30s
22:	learn: 0.1826560	total: 1m 3s	remaining: 22m
23:	learn: 0.1814586	total: 1m 8s	remaining: 22m 29s
24:	learn: 0.1807351	total: 1m 12s	remaining: 23m 1s
25:	learn: 0.1798379	total: 1m 17s	remaining: 23m 27s
26:	learn: 0.1785887	total: 1m 21s	remaining: 23m 49s
27:	learn: 0.1776187	total: 1m 25s	remaining: 24m 5s
28:	learn: 0.1772425	total: 1m 26s	remaining: 23m 26s
29:	learn: 0.1761050	total: 1m 30s	remaining: 23m 35s
30:	learn: 0.1750729	total: 1m 34s	remaining: 23m 50s
31:	learn: 0.1745876	total: 1m 38s	remaining: 24m 1s
32:	learn: 0.1739336	total: 1m 43s	remaining: 24m 20s
33:	learn: 0.1738256	total: 1m 48s	remaining: 24m 43s
34:	learn: 0.1727102	total: 1m 53s	remaining: 25m 1s
35:	learn: 0.1726811	total: 1m 53s	remaining: 24m 28s
36:	learn: 0.1722827	total: 1m 58s	remaining: 24m 42s
37:	learn: 0.1717670	total: 2m 2s	remaining: 24m 55s
38:	learn: 0.1714168	total: 2m 7s	remaining: 25m 9s
39:	learn: 0.1708121	total: 2m 11s	remaining: 25m 17s
40:	learn: 0.1697726	total: 2m 17s	remaining: 25m 34s
41:	learn: 0.1690478	total: 2m 21s	remaining: 25m 39s
42:	learn: 0.1686798	total: 2m 25s	remaining: 25m 48s
43:	learn: 0.1680551	total: 2m 30s	remaining: 25m 57s
44:	learn: 0.1675909	total: 2m 35s	remaining: 26m 11s
45:	learn: 0.1672623	total: 2m 39s	remaining: 26m 18s
46:	learn: 0.1667930	total: 2m 44s	remaining: 26m 23s
47:	learn: 0.1667918	total: 2m 44s	remaining: 25m 47s
48:	learn: 0.1663908	total: 2m 48s	remaining: 25m 54s
49:	learn: 0.1657092	total: 2m 53s	remaining: 25m 57s
50:	learn: 0.1653644	total: 2m 56s	remaining: 25m 58s
51:	learn: 0.1651639	total: 3m 1s	remaining: 26m 6s
52:	learn: 0.1649683	total: 3m 6s	remaining: 26m 11s
53:	learn: 0.1645574	total: 3m 11s	remaining: 26m 22s
54:	learn: 0.1640558	total: 3m 16s	remaining: 26m 29s
55:	learn: 0.1632450	total: 3m 21s	remaining: 26m 35s
56:	learn: 0.1629143	total: 3m 25s	remaining: 26m 39s
57:	learn: 0.1624336	total: 3m 30s	remaining: 26m 42s
58:	learn: 0.1620396	total: 3m 35s	remaining: 26m 50s
59:	learn: 0.1620077	total: 3m 35s	remaining: 26m 23s
60:	learn: 0.1617451	total: 3m 40s	remaining: 26m 27s
61:	learn: 0.1613603	total: 3m 45s	remaining: 26m 33s
62:	learn: 0.1612494	total: 3m 49s	remaining: 26m 34s
63:	learn: 0.1602420	total: 3m 55s	remaining: 26m 41s
64:	learn: 0.1599024	total: 4m	remaining: 26m 46s
65:	learn: 0.1598446	total: 4m	remaining: 26m 22s
66:	learn: 0.1593852	total: 4m 5s	remaining: 26m 27s
67:	learn: 0.1592051	total: 4m 10s	remaining: 26m 32s
68:	learn: 0.1591961	total: 4m 10s	remaining: 26m 6s
69:	learn: 0.1586942	total: 4m 16s	remaining: 26m 13s
70:	learn: 0.1582963	total: 4m 21s	remaining: 26m 18s
71:	learn: 0.1576035	total: 4m 25s	remaining: 26m 18s
72:	learn: 0.1572358	total: 4m 30s	remaining: 26m 22s
73:	learn: 0.1565629	total: 4m 35s	remaining: 26m 28s
74:	learn: 0.1561359	total: 4m 40s	remaining: 26m 31s
75:	learn: 0.1553410	total: 4m 45s	remaining: 26m 34s
76:	learn: 0.1548856	total: 4m 50s	remaining: 26m 38s
77:	learn: 0.1548472	total: 4m 51s	remaining: 26m 16s
78:	learn: 0.1547635	total: 4m 51s	remaining: 25m 55s
79:	learn: 0.1547513	total: 4m 52s	remaining: 25m 36s
80:	learn: 0.1546410	total: 4m 57s	remaining: 25m 38s
81:	learn: 0.1542025	total: 5m 2s	remaining: 25m 40s
82:	learn: 0.1537450	total: 5m 6s	remaining: 25m 41s
83:	learn: 0.1534651	total: 5m 11s	remaining: 25m 43s
84:	learn: 0.1530917	total: 5m 17s	remaining: 25m 49s
85:	learn: 0.1530905	total: 5m 17s	remaining: 25m 27s
86:	learn: 0.1528181	total: 5m 22s	remaining: 25m 31s
87:	learn: 0.1520990	total: 5m 27s	remaining: 25m 34s
88:	learn: 0.1515854	total: 5m 32s	remaining: 25m 33s
89:	learn: 0.1514967	total: 5m 36s	remaining: 25m 31s
90:	learn: 0.1512696	total: 5m 40s	remaining: 25m 31s
91:	learn: 0.1506415	total: 5m 45s	remaining: 25m 30s
92:	learn: 0.1503963	total: 5m 49s	remaining: 25m 30s
93:	learn: 0.1495418	total: 5m 54s	remaining: 25m 33s
94:	learn: 0.1494818	total: 5m 59s	remaining: 25m 32s
95:	learn: 0.1493343	total: 6m 3s	remaining: 25m 29s
96:	learn: 0.1486187	total: 6m 8s	remaining: 25m 29s
97:	learn: 0.1483496	total: 6m 12s	remaining: 25m 29s
98:	learn: 0.1480256	total: 6m 17s	remaining: 25m 27s
99:	learn: 0.1475706	total: 6m 21s	remaining: 25m 26s
100:	learn: 0.1475695	total: 6m 21s	remaining: 25m 8s
101:	learn: 0.1475686	total: 6m 21s	remaining: 24m 49s
102:	learn: 0.1471476	total: 6m 26s	remaining: 24m 50s
103:	learn: 0.1471158	total: 6m 31s	remaining: 24m 50s
104:	learn: 0.1471151	total: 6m 31s	remaining: 24m 32s
105:	learn: 0.1469761	total: 6m 36s	remaining: 24m 33s
106:	learn: 0.1467362	total: 6m 41s	remaining: 24m 33s
107:	learn: 0.1467357	total: 6m 41s	remaining: 24m 16s
108:	learn: 0.1466149	total: 6m 46s	remaining: 24m 16s
109:	learn: 0.1459890	total: 6m 51s	remaining: 24m 18s
110:	learn: 0.1458473	total: 6m 56s	remaining: 24m 19s
111:	learn: 0.1455025	total: 7m 1s	remaining: 24m 18s
112:	learn: 0.1451183	total: 7m 5s	remaining: 24m 17s
113:	learn: 0.1448048	total: 7m 10s	remaining: 24m 18s
114:	learn: 0.1435801	total: 7m 15s	remaining: 24m 17s
115:	learn: 0.1432437	total: 7m 19s	remaining: 24m 16s
116:	learn: 0.1427218	total: 7m 24s	remaining: 24m 14s
117:	learn: 0.1423370	total: 7m 28s	remaining: 24m 12s
118:	learn: 0.1414194	total: 7m 33s	remaining: 24m 11s
119:	learn: 0.1413090	total: 7m 38s	remaining: 24m 10s
120:	learn: 0.1409118	total: 7m 42s	remaining: 24m 8s
121:	learn: 0.1405129	total: 7m 46s	remaining: 24m 4s
122:	learn: 0.1403498	total: 7m 50s	remaining: 24m 1s
123:	learn: 0.1399730	total: 7m 54s	remaining: 24m
124:	learn: 0.1389778	total: 7m 59s	remaining: 23m 59s
125:	learn: 0.1386163	total: 8m 4s	remaining: 23m 57s
126:	learn: 0.1383646	total: 8m 8s	remaining: 23m 54s
127:	learn: 0.1382109	total: 8m 13s	remaining: 23m 53s
128:	learn: 0.1378574	total: 8m 18s	remaining: 23m 52s
129:	learn: 0.1376798	total: 8m 22s	remaining: 23m 49s
130:	learn: 0.1373243	total: 8m 26s	remaining: 23m 47s
131:	learn: 0.1372352	total: 8m 31s	remaining: 23m 45s
132:	learn: 0.1368329	total: 8m 36s	remaining: 23m 45s
133:	learn: 0.1364623	total: 8m 41s	remaining: 23m 43s
134:	learn: 0.1360120	total: 8m 45s	remaining: 23m 40s
135:	learn: 0.1356911	total: 8m 49s	remaining: 23m 38s
136:	learn: 0.1355772	total: 8m 54s	remaining: 23m 36s
137:	learn: 0.1350329	total: 8m 58s	remaining: 23m 33s
138:	learn: 0.1348376	total: 9m 2s	remaining: 23m 30s
139:	learn: 0.1345166	total: 9m 8s	remaining: 23m 29s
140:	learn: 0.1344173	total: 9m 12s	remaining: 23m 27s
141:	learn: 0.1338086	total: 9m 17s	remaining: 23m 25s
142:	learn: 0.1334197	total: 9m 22s	remaining: 23m 23s
143:	learn: 0.1331862	total: 9m 26s	remaining: 23m 19s
144:	learn: 0.1330485	total: 9m 30s	remaining: 23m 17s
145:	learn: 0.1329244	total: 9m 34s	remaining: 23m 13s
146:	learn: 0.1326709	total: 9m 38s	remaining: 23m 8s
147:	learn: 0.1320862	total: 9m 42s	remaining: 23m 4s
148:	learn: 0.1319803	total: 9m 46s	remaining: 23m 1s
149:	learn: 0.1318027	total: 9m 51s	remaining: 22m 59s
150:	learn: 0.1314788	total: 9m 55s	remaining: 22m 55s
151:	learn: 0.1312125	total: 9m 59s	remaining: 22m 52s
152:	learn: 0.1304634	total: 10m 3s	remaining: 22m 49s

153:	learn: 0.1297187	total: 10m 8s	remaining: 22m 46s
154:	learn: 0.1292026	total: 10m 13s	remaining: 22m 45s
155:	learn: 0.1284151	total: 10m 18s	remaining: 22m 43s
156:	learn: 0.1277590	total: 10m 23s	remaining: 22m 43s
157:	learn: 0.1271227	total: 10m 28s	remaining: 22m 39s
158:	learn: 0.1267590	total: 10m 31s	remaining: 22m 35s
159:	learn: 0.1258954	total: 10m 38s	remaining: 22m 35s
160:	learn: 0.1255691	total: 10m 43s	remaining: 22m 34s
161:	learn: 0.1252660	total: 10m 48s	remaining: 22m 32s
162:	learn: 0.1249151	total: 10m 52s	remaining: 22m 28s
163:	learn: 0.1245802	total: 10m 56s	remaining: 22m 25s
164:	learn: 0.1242953	total: 11m 1s	remaining: 22m 22s
165:	learn: 0.1239979	total: 11m 5s	remaining: 22m 19s
166:	learn: 0.1237444	total: 11m 9s	remaining: 22m 15s
167:	learn: 0.1233968	total: 11m 14s	remaining: 22m 12s
168:	learn: 0.1232270	total: 11m 18s	remaining: 22m 8s
169:	learn: 0.1229294	total: 11m 22s	remaining: 22m 4s
170:	learn: 0.1225046	total: 11m 27s	remaining: 22m 2s
171:	learn: 0.1222473	total: 11m 31s	remaining: 21m 59s
172:	learn: 0.1218508	total: 11m 35s	remaining: 21m 55s
173:	learn: 0.1212474	total: 11m 40s	remaining: 21m 52s
174:	learn: 0.1207859	total: 11m 45s	remaining: 21m 50s
175:	learn: 0.1205150	total: 11m 50s	remaining: 21m 48s
176:	learn: 0.1201327	total: 11m 55s	remaining: 21m 45s
177:	learn: 0.1197650	total: 11m 59s	remaining: 21m 40s
178:	learn: 0.1194119	total: 12m 3s	remaining: 21m 36s
179:	learn: 0.1188680	total: 12m 7s	remaining: 21m 33s
180:	learn: 0.1181500	total: 12m 12s	remaining: 21m 30s
181:	learn: 0.1174939	total: 12m 17s	remaining: 21m 28s
182:	learn: 0.1173830	total: 12m 21s	remaining: 21m 24s
183:	learn: 0.1172754	total: 12m 25s	remaining: 21m 20s
184:	learn: 0.1165522	total: 12m 30s	remaining: 21m 17s
185:	learn: 0.1161598	total: 12m 34s	remaining: 21m 14s
186:	learn: 0.1159369	total: 12m 39s	remaining: 21m 11s
187:	learn: 0.1157831	total: 12m 45s	remaining: 21m 9s
188:	learn: 0.1156371	total: 12m 49s	remaining: 21m 6s
189:	learn: 0.1155039	total: 12m 54s	remaining: 21m 3s
190:	learn: 0.1152918	total: 12m 58s	remaining: 21m
191:	learn: 0.1150622	total: 13m 4s	remaining: 20m 58s
192:	learn: 0.1147613	total: 13m 9s	remaining: 20m 56s
193:	learn: 0.1146699	total: 13m 14s	remaining: 20m 53s
194:	learn: 0.1146381	total: 13m 19s	remaining: 20m 50s
195:	learn: 0.1141472	total: 13m 24s	remaining: 20m 47s
196:	learn: 0.1138136	total: 13m 28s	remaining: 20m 43s
197:	learn: 0.1132545	total: 13m 33s	remaining: 20m 40s
198:	learn: 0.1129388	total: 13m 37s	remaining: 20m 37s
199:	learn: 0.1127251	total: 13m 42s	remaining: 20m 33s
200:	learn: 0.1125323	total: 13m 47s	remaining: 20m 30s
201:	learn: 0.1124537	total: 13m 51s	remaining: 20m 27s
202:	learn: 0.1122207	total: 13m 55s	remaining: 20m 22s
203:	learn: 0.1121419	total: 14m	remaining: 20m 19s
204:	learn: 0.1116590	total: 14m 5s	remaining: 20m 16s
205:	learn: 0.1112428	total: 14m 10s	remaining: 20m 14s
206:	learn: 0.1108179	total: 14m 15s	remaining: 20m 11s
207:	learn: 0.1105132	total: 14m 19s	remaining: 20m 6s
208:	learn: 0.1103690	total: 14m 24s	remaining: 20m 3s
209:	learn: 0.1101603	total: 14m 28s	remaining: 19m 59s
210:	learn: 0.1099898	total: 14m 32s	remaining: 19m 55s
211:	learn: 0.1097235	total: 14m 36s	remaining: 19m 51s
212:	learn: 0.1096653	total: 14m 41s	remaining: 19m 48s
213:	learn: 0.1093622	total: 14m 45s	remaining: 19m 43s
214:	learn: 0.1091934	total: 14m 50s	remaining: 19m 40s
215:	learn: 0.1090564	total: 14m 54s	remaining: 19m 35s
216:	learn: 0.1088472	total: 14m 58s	remaining: 19m 31s
217:	learn: 0.1085445	total: 15m 1s	remaining: 19m 26s
218:	learn: 0.1079553	total: 15m 6s	remaining: 19m 22s
219:	learn: 0.1077344	total: 15m 10s	remaining: 19m 19s
220:	learn: 0.1076216	total: 15m 14s	remaining: 19m 15s
221:	learn: 0.1074693	total: 15m 19s	remaining: 19m 11s
222:	learn: 0.1072848	total: 15m 24s	remaining: 19m 7s
223:	learn: 0.1070074	total: 15m 27s	remaining: 19m 3s
224:	learn: 0.1067227	total: 15m 32s	remaining: 18m 59s
225:	learn: 0.1063033	total: 15m 37s	remaining: 18m 56s
226:	learn: 0.1058569	total: 15m 41s	remaining: 18m 52s
227:	learn: 0.1056121	total: 15m 46s	remaining: 18m 48s
228:	learn: 0.1055339	total: 15m 50s	remaining: 18m 44s
229:	learn: 0.1049836	total: 15m 54s	remaining: 18m 41s
230:	learn: 0.1044877	total: 15m 59s	remaining: 18m 37s
231:	learn: 0.1041711	total: 16m 4s	remaining: 18m 33s
232:	learn: 0.1037447	total: 16m 8s	remaining: 18m 29s
233:	learn: 0.1035150	total: 16m 12s	remaining: 18m 25s
234:	learn: 0.1034205	total: 16m 16s	remaining: 18m 21s
235:	learn: 0.1030000	total: 16m 21s	remaining: 18m 17s
236:	learn: 0.1027647	total: 16m 25s	remaining: 18m 13s
237:	learn: 0.1023704	total: 16m 29s	remaining: 18m 9s
238:	learn: 0.1021956	total: 16m 34s	remaining: 18m 6s
239:	learn: 0.1017353	total: 16m 39s	remaining: 18m 2s
240:	learn: 0.1014752	total: 16m 43s	remaining: 17m 58s
241:	learn: 0.1011777	total: 16m 47s	remaining: 17m 53s
242:	learn: 0.1009644	total: 16m 52s	remaining: 17m 50s
243:	learn: 0.1006645	total: 16m 57s	remaining: 17m 47s
244:	learn: 0.1004122	total: 17m 2s	remaining: 17m 44s
245:	learn: 0.1002265	total: 17m 6s	remaining: 17m 40s
246:	learn: 0.0998239	total: 17m 12s	remaining: 17m 37s
247:	learn: 0.0995633	total: 17m 16s	remaining: 17m 32s
248:	learn: 0.0993225	total: 17m 20s	remaining: 17m 28s
249:	learn: 0.0991039	total: 17m 25s	remaining: 17m 25s
250:	learn: 0.0988751	total: 17m 29s	remaining: 17m 21s
251:	learn: 0.0986260	total: 17m 33s	remaining: 17m 17s
252:	learn: 0.0982679	total: 17m 37s	remaining: 17m 12s
253:	learn: 0.0979731	total: 17m 41s	remaining: 17m 8s
254:	learn: 0.0978480	total: 17m 46s	remaining: 17m 4s
255:	learn: 0.0975344	total: 17m 52s	remaining: 17m 2s
256:	learn: 0.0974238	total: 17m 57s	remaining: 16m 58s
257:	learn: 0.0971649	total: 18m 2s	remaining: 16m 54s
258:	learn: 0.0970392	total: 18m 7s	remaining: 16m 51s
259:	learn: 0.0968204	total: 18m 12s	remaining: 16m 48s
260:	learn: 0.0966192	total: 18m 16s	remaining: 16m 44s
261:	learn: 0.0964030	total: 18m 21s	remaining: 16m 40s
262:	learn: 0.0962133	total: 18m 26s	remaining: 16m 36s
263:	learn: 0.0960272	total: 18m 31s	remaining: 16m 33s
264:	learn: 0.0957880	total: 18m 37s	remaining: 16m 30s
265:	learn: 0.0954137	total: 18m 42s	remaining: 16m 27s
266:	learn: 0.0951998	total: 18m 47s	remaining: 16m 23s
267:	learn: 0.0950837	total: 18m 51s	remaining: 16m 19s
268:	learn: 0.0950328	total: 18m 55s	remaining: 16m 14s
269:	learn: 0.0949104	total: 18m 59s	remaining: 16m 10s
270:	learn: 0.0947527	total: 19m 4s	remaining: 16m 6s
271:	learn: 0.0946557	total: 19m 8s	remaining: 16m 2s
272:	learn: 0.0941246	total: 19m 12s	remaining: 15m 57s
273:	learn: 0.0938575	total: 19m 16s	remaining: 15m 54s
274:	learn: 0.0937031	total: 19m 21s	remaining: 15m 50s
275:	learn: 0.0935993	total: 19m 26s	remaining: 15m 46s
276:	learn: 0.0934333	total: 19m 30s	remaining: 15m 42s
277:	learn: 0.0932161	total: 19m 33s	remaining: 15m 37s
278:	learn: 0.0931046	total: 19m 38s	remaining: 15m 33s
279:	learn: 0.0927437	total: 19m 43s	remaining: 15m 29s
280:	learn: 0.0926431	total: 19m 48s	remaining: 15m 26s
281:	learn: 0.0924313	total: 19m 53s	remaining: 15m 22s
282:	learn: 0.0920534	total: 19m 59s	remaining: 15m 19s
283:	learn: 0.0919038	total: 20m 4s	remaining: 15m 16s
284:	learn: 0.0913589	total: 20m 9s	remaining: 15m 12s
285:	learn: 0.0913148	total: 20m 14s	remaining: 15m 8s
286:	learn: 0.0910066	total: 20m 19s	remaining: 15m 4s
287:	learn: 0.0908474	total: 20m 23s	remaining: 15m
288:	learn: 0.0907446	total: 20m 28s	remaining: 14m 56s
289:	learn: 0.0906222	total: 20m 33s	remaining: 14m 52s
290:	learn: 0.0904939	total: 20m 37s	remaining: 14m 48s
291:	learn: 0.0903823	total: 20m 41s	remaining: 14m 44s
292:	learn: 0.0900788	total: 20m 46s	remaining: 14m 40s
293:	learn: 0.0899629	total: 20m 50s	remaining: 14m 36s
294:	learn: 0.0898234	total: 20m 55s	remaining: 14m 32s
295:	learn: 0.0897310	total: 20m 59s	remaining: 14m 27s
296:	learn: 0.0895172	total: 21m 3s	remaining: 14m 23s
297:	learn: 0.0892641	total: 21m 7s	remaining: 14m 19s
298:	learn: 0.0889824	total: 21m 12s	remaining: 14m 15s
299:	learn: 0.0885616	total: 21m 17s	remaining: 14m 11s
300:	learn: 0.0885100	total: 21m 21s	remaining: 14m 7s

301:	learn: 0.0883338	total: 21m 26s	remaining: 14m 3s
302:	learn: 0.0881861	total: 21m 30s	remaining: 13m 59s
303:	learn: 0.0877937	total: 21m 35s	remaining: 13m 55s
304:	learn: 0.0877350	total: 21m 39s	remaining: 13m 51s
305:	learn: 0.0875628	total: 21m 43s	remaining: 13m 46s
306:	learn: 0.0873650	total: 21m 48s	remaining: 13m 42s
307:	learn: 0.0873119	total: 21m 52s	remaining: 13m 38s
308:	learn: 0.0868547	total: 21m 57s	remaining: 13m 34s
309:	learn: 0.0865989	total: 22m 1s	remaining: 13m 30s
310:	learn: 0.0863310	total: 22m 6s	remaining: 13m 26s
311:	learn: 0.0862295	total: 22m 11s	remaining: 13m 22s
312:	learn: 0.0860688	total: 22m 16s	remaining: 13m 18s
313:	learn: 0.0859218	total: 22m 21s	remaining: 13m 14s
314:	learn: 0.0856598	total: 22m 26s	remaining: 13m 10s
315:	learn: 0.0854515	total: 22m 30s	remaining: 13m 6s
316:	learn: 0.0852055	total: 22m 34s	remaining: 13m 2s
317:	learn: 0.0845685	total: 22m 40s	remaining: 12m 58s
318:	learn: 0.0845222	total: 22m 45s	remaining: 12m 54s
319:	learn: 0.0840113	total: 22m 50s	remaining: 12m 50s
320:	learn: 0.0835340	total: 22m 55s	remaining: 12m 47s
321:	learn: 0.0832938	total: 23m	remaining: 12m 43s
322:	learn: 0.0831592	total: 23m 5s	remaining: 12m 39s
323:	learn: 0.0828461	total: 23m 10s	remaining: 12m 35s
324:	learn: 0.0824221	total: 23m 16s	remaining: 12m 31s
325:	learn: 0.0822281	total: 23m 20s	remaining: 12m 27s
326:	learn: 0.0817821	total: 23m 24s	remaining: 12m 23s
327:	learn: 0.0817080	total: 23m 29s	remaining: 12m 19s
328:	learn: 0.0815259	total: 23m 33s	remaining: 12m 14s
329:	learn: 0.0813030	total: 23m 38s	remaining: 12m 10s
330:	learn: 0.0810666	total: 23m 43s	remaining: 12m 6s
331:	learn: 0.0808236	total: 23m 48s	remaining: 12m 2s
332:	learn: 0.0807087	total: 23m 52s	remaining: 11m 58s
333:	learn: 0.0806414	total: 23m 57s	remaining: 11m 54s
334:	learn: 0.0806068	total: 24m 1s	remaining: 11m 49s
335:	learn: 0.0803773	total: 24m 6s	remaining: 11m 46s
336:	learn: 0.0800490	total: 24m 11s	remaining: 11m 41s
337:	learn: 0.0797651	total: 24m 16s	remaining: 11m 37s
338:	learn: 0.0794582	total: 24m 20s	remaining: 11m 33s
339:	learn: 0.0791818	total: 24m 25s	remaining: 11m 29s
340:	learn: 0.0790409	total: 24m 29s	remaining: 11m 25s
341:	learn: 0.0787968	total: 24m 35s	remaining: 11m 21s
342:	learn: 0.0787656	total: 24m 40s	remaining: 11m 17s
343:	learn: 0.0783678	total: 24m 46s	remaining: 11m 14s
344:	learn: 0.0780025	total: 24m 51s	remaining: 11m 10s
345:	learn: 0.0778769	total: 24m 56s	remaining: 11m 6s
346:	learn: 0.0777169	total: 25m 1s	remaining: 11m 2s
347:	learn: 0.0772773	total: 25m 6s	remaining: 10m 58s
348:	learn: 0.0771137	total: 25m 11s	remaining: 10m 54s
349:	learn: 0.0770264	total: 25m 16s	remaining: 10m 49s
350:	learn: 0.0768803	total: 25m 20s	remaining: 10m 45s
351:	learn: 0.0768349	total: 25m 24s	remaining: 10m 41s
352:	learn: 0.0764452	total: 25m 29s	remaining: 10m 36s
353:	learn: 0.0762563	total: 25m 34s	remaining: 10m 32s
354:	learn: 0.0761458	total: 25m 40s	remaining: 10m 29s
355:	learn: 0.0760241	total: 25m 44s	remaining: 10m 24s
356:	learn: 0.0756861	total: 25m 48s	remaining: 10m 20s
357:	learn: 0.0754910	total: 25m 53s	remaining: 10m 16s
358:	learn: 0.0754049	total: 25m 57s	remaining: 10m 11s
359:	learn: 0.0752722	total: 26m 1s	remaining: 10m 7s
360:	learn: 0.0752088	total: 26m 5s	remaining: 10m 2s
361:	learn: 0.0750602	total: 26m 10s	remaining: 9m 58s
362:	learn: 0.0748933	total: 26m 15s	remaining: 9m 54s
363:	learn: 0.0746295	total: 26m 21s	remaining: 9m 50s
364:	learn: 0.0745621	total: 26m 25s	remaining: 9m 46s
365:	learn: 0.0744468	total: 26m 30s	remaining: 9m 42s
366:	learn: 0.0740562	total: 26m 35s	remaining: 9m 38s
367:	learn: 0.0740039	total: 26m 40s	remaining: 9m 34s
368:	learn: 0.0738450	total: 26m 45s	remaining: 9m 30s
369:	learn: 0.0733573	total: 26m 51s	remaining: 9m 26s
370:	learn: 0.0731186	total: 26m 55s	remaining: 9m 21s
371:	learn: 0.0730684	total: 26m 59s	remaining: 9m 17s
372:	learn: 0.0726186	total: 27m 4s	remaining: 9m 13s
373:	learn: 0.0725476	total: 27m 9s	remaining: 9m 8s
374:	learn: 0.0723086	total: 27m 13s	remaining: 9m 4s
375:	learn: 0.0719100	total: 27m 18s	remaining: 9m
376:	learn: 0.0716062	total: 27m 23s	remaining: 8m 56s
377:	learn: 0.0712896	total: 27m 28s	remaining: 8m 52s
378:	learn: 0.0712195	total: 27m 34s	remaining: 8m 48s
379:	learn: 0.0710810	total: 27m 38s	remaining: 8m 43s
380:	learn: 0.0708338	total: 27m 43s	remaining: 8m 39s
381:	learn: 0.0707089	total: 27m 48s	remaining: 8m 35s
382:	learn: 0.0705200	total: 27m 53s	remaining: 8m 31s
383:	learn: 0.0703904	total: 27m 57s	remaining: 8m 26s
384:	learn: 0.0703074	total: 28m 1s	remaining: 8m 22s
385:	learn: 0.0702418	total: 28m 5s	remaining: 8m 17s
386:	learn: 0.0700508	total: 28m 10s	remaining: 8m 13s
387:	learn: 0.0699795	total: 28m 15s	remaining: 8m 9s
388:	learn: 0.0698208	total: 28m 20s	remaining: 8m 5s
389:	learn: 0.0697913	total: 28m 24s	remaining: 8m
390:	learn: 0.0696037	total: 28m 28s	remaining: 7m 56s
391:	learn: 0.0691384	total: 28m 33s	remaining: 7m 52s
392:	learn: 0.0689780	total: 28m 38s	remaining: 7m 47s
393:	learn: 0.0687974	total: 28m 44s	remaining: 7m 43s
394:	learn: 0.0685880	total: 28m 49s	remaining: 7m 39s
395:	learn: 0.0685209	total: 28m 54s	remaining: 7m 35s
396:	learn: 0.0682733	total: 29m	remaining: 7m 31s
397:	learn: 0.0681482	total: 29m 4s	remaining: 7m 27s
398:	learn: 0.0678937	total: 29m 9s	remaining: 7m 22s
399:	learn: 0.0676257	total: 29m 13s	remaining: 7m 18s
400:	learn: 0.0673464	total: 29m 20s	remaining: 7m 14s
401:	learn: 0.0671453	total: 29m 25s	remaining: 7m 10s
402:	learn: 0.0669879	total: 29m 29s	remaining: 7m 5s
403:	learn: 0.0667117	total: 29m 34s	remaining: 7m 1s
404:	learn: 0.0666195	total: 29m 38s	remaining: 6m 57s
405:	learn: 0.0663714	total: 29m 44s	remaining: 6m 53s
406:	learn: 0.0661814	total: 29m 49s	remaining: 6m 48s
407:	learn: 0.0658957	total: 29m 54s	remaining: 6m 44s
408:	learn: 0.0656903	total: 29m 58s	remaining: 6m 40s
409:	learn: 0.0655455	total: 30m 2s	remaining: 6m 35s
410:	learn: 0.0653815	total: 30m 7s	remaining: 6m 31s
411:	learn: 0.0651859	total: 30m 11s	remaining: 6m 27s
412:	learn: 0.0650563	total: 30m 16s	remaining: 6m 22s
413:	learn: 0.0649329	total: 30m 20s	remaining: 6m 18s
414:	learn: 0.0647669	total: 30m 25s	remaining: 6m 13s
415:	learn: 0.0647110	total: 30m 29s	remaining: 6m 9s
416:	learn: 0.0644577	total: 30m 33s	remaining: 6m 5s
417:	learn: 0.0643681	total: 30m 38s	remaining: 6m
418:	learn: 0.0642395	total: 30m 42s	remaining: 5m 56s
419:	learn: 0.0642108	total: 30m 46s	remaining: 5m 51s
420:	learn: 0.0641024	total: 30m 51s	remaining: 5m 47s
421:	learn: 0.0640026	total: 30m 56s	remaining: 5m 43s
422:	learn: 0.0637459	total: 31m	remaining: 5m 38s
423:	learn: 0.0636837	total: 31m 4s	remaining: 5m 34s
424:	learn: 0.0636284	total: 31m 8s	remaining: 5m 29s
425:	learn: 0.0634928	total: 31m 12s	remaining: 5m 25s
426:	learn: 0.0633214	total: 31m 18s	remaining: 5m 21s
427:	learn: 0.0631549	total: 31m 23s	remaining: 5m 16s
428:	learn: 0.0630899	total: 31m 26s	remaining: 5m 12s
429:	learn: 0.0629459	total: 31m 31s	remaining: 5m 7s
430:	learn: 0.0628502	total: 31m 36s	remaining: 5m 3s
431:	learn: 0.0628158	total: 31m 40s	remaining: 4m 59s
432:	learn: 0.0626562	total: 31m 44s	remaining: 4m 54s
433:	learn: 0.0624952	total: 31m 48s	remaining: 4m 50s
434:	learn: 0.0624908	total: 31m 52s	remaining: 4m 45s
435:	learn: 0.0623632	total: 31m 56s	remaining: 4m 41s
436:	learn: 0.0622291	total: 32m 1s	remaining: 4m 37s
437:	learn: 0.0621684	total: 32m 5s	remaining: 4m 32s
438:	learn: 0.0621563	total: 32m 10s	remaining: 4m 28s
439:	learn: 0.0620925	total: 32m 14s	remaining: 4m 23s
440:	learn: 0.0618534	total: 32m 18s	remaining: 4m 19s
441:	learn: 0.0617019	total: 32m 23s	remaining: 4m 15s
442:	learn: 0.0615987	total: 32m 28s	remaining: 4m 10s
443:	learn: 0.0615552	total: 32m 32s	remaining: 4m 6s
444:	learn: 0.0613779	total: 32m 37s	remaining: 4m 1s
445:	learn: 0.0612521	total: 32m 41s	remaining: 3m 57s
446:	learn: 0.0611050	total: 32m 45s	remaining: 3m 53s
447:	learn: 0.0608050	total: 32m 49s	remaining: 3m 48s
448:	learn: 0.0606548	total: 32m 54s	remaining: 3m 44s
449:	learn: 0.0605330	total: 32m 59s	remaining: 3m 39s
450:	learn: 0.0603459	total: 33m 4s	remaining: 3m 35s

451:	learn: 0.0603375	total: 33m 8s	remaining: 3m 31s
452:	learn: 0.0602909	total: 33m 12s	remaining: 3m 26s
453:	learn: 0.0601825	total: 33m 17s	remaining: 3m 22s
454:	learn: 0.0600520	total: 33m 22s	remaining: 3m 18s
455:	learn: 0.0600310	total: 33m 27s	remaining: 3m 13s
456:	learn: 0.0599920	total: 33m 31s	remaining: 3m 9s
457:	learn: 0.0598544	total: 33m 36s	remaining: 3m 4s
458:	learn: 0.0597741	total: 33m 41s	remaining: 3m
459:	learn: 0.0596717	total: 33m 46s	remaining: 2m 56s
460:	learn: 0.0595124	total: 33m 50s	remaining: 2m 51s
461:	learn: 0.0591645	total: 33m 55s	remaining: 2m 47s
462:	learn: 0.0590376	total: 34m	remaining: 2m 43s
463:	learn: 0.0589707	total: 34m 4s	remaining: 2m 38s
464:	learn: 0.0588434	total: 34m 9s	remaining: 2m 34s
465:	learn: 0.0585950	total: 34m 13s	remaining: 2m 29s
466:	learn: 0.0584670	total: 34m 17s	remaining: 2m 25s
467:	learn: 0.0581018	total: 34m 22s	remaining: 2m 21s
468:	learn: 0.0578565	total: 34m 26s	remaining: 2m 16s
469:	learn: 0.0577378	total: 34m 30s	remaining: 2m 12s
470:	learn: 0.0575173	total: 34m 35s	remaining: 2m 7s
471:	learn: 0.0574175	total: 34m 40s	remaining: 2m 3s
472:	learn: 0.0573135	total: 34m 45s	remaining: 1m 59s
473:	learn: 0.0571168	total: 34m 49s	remaining: 1m 54s
474:	learn: 0.0570123	total: 34m 54s	remaining: 1m 50s
475:	learn: 0.0568588	total: 34m 59s	remaining: 1m 45s
476:	learn: 0.0567553	total: 35m 3s	remaining: 1m 41s
477:	learn: 0.0566416	total: 35m 9s	remaining: 1m 37s
478:	learn: 0.0565619	total: 35m 14s	remaining: 1m 32s
479:	learn: 0.0564104	total: 35m 19s	remaining: 1m 28s
480:	learn: 0.0563822	total: 35m 23s	remaining: 1m 23s
481:	learn: 0.0562473	total: 35m 27s	remaining: 1m 19s
482:	learn: 0.0560701	total: 35m 31s	remaining: 1m 15s
483:	learn: 0.0559956	total: 35m 36s	remaining: 1m 10s
484:	learn: 0.0558650	total: 35m 41s	remaining: 1m 6s
485:	learn: 0.0558429	total: 35m 45s	remaining: 1m 1s
486:	learn: 0.0557829	total: 35m 50s	remaining: 57.4s
487:	learn: 0.0555836	total: 35m 55s	remaining: 53s
488:	learn: 0.0555292	total: 35m 59s	remaining: 48.6s
489:	learn: 0.0553152	total: 36m 3s	remaining: 44.1s
490:	learn: 0.0552389	total: 36m 8s	remaining: 39.7s
491:	learn: 0.0551311	total: 36m 12s	remaining: 35.3s
492:	learn: 0.0551065	total: 36m 17s	remaining: 30.9s
493:	learn: 0.0550659	total: 36m 21s	remaining: 26.5s
494:	learn: 0.0550378	total: 36m 26s	remaining: 22.1s
495:	learn: 0.0549916	total: 36m 30s	remaining: 17.7s
496:	learn: 0.0549429	total: 36m 35s	remaining: 13.3s
497:	learn: 0.0548712	total: 36m 40s	remaining: 8.84s
498:	learn: 0.0547426	total: 36m 46s	remaining: 4.42s
499:	learn: 0.0546942	total: 36m 51s	remaining: 0us

In [111]:
df_lvl2_predict = df_train_lvl2.copy()
df_lvl2_predict['proba_item_purchase'] = train_preds[:,1]

In [110]:
result_eval_lvl2['reranked_own_rec_catb'] = result_eval_lvl2[USER_COL].apply(lambda user_id: rerank(user_id, df_lvl2_predict))

In [112]:
print(*sorted(calc_precision_at_k(result_eval_lvl2, TOPK_PRECISION), key=lambda x: x[1], reverse=True), sep='\n')

('reranked_own_rec_catb', 0.19665796344647327)
('reranked_own_rec_lightgbm', 0.19258485639686482)
('own_rec', 0.1462140992167092)

Метрика показывает, что модель второго уровня оказалось значительно лучше, чем отбор товаров на основе модели первого уровня без дополнительного ранжирования.  
Важно принять во внимание, что я не делала преобработку категориальных признаков. Возможно, это дало бы результат выше.